
<% if (locals?.user) { %>
<ul class="menu">
    <li><a href="/">Start</a></li>
    <li><a href="/foobar">Admin only page</a></li>
    <li>| Logged in as: <%= user.username %> ( <a href="/logout">Logout</a> )</li>
</ul>
<% } %>
